.InterestListCard {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}
.InterestListCardCoin {
    display: flex;
    justify-content: space-between;

}
.InterestListCardInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.InterestListCardIcon {
    background-color:whitesmoke;
    width: 3em;
    height: 3em;
    border-radius: 0.5em;
    margin: 1em;
}
.InterestListCardIcon img {
    width: 100%;
    height: 100%;
}
.InterestListCardPricePerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.InterestListCardPricePer_up {
    margin-right: 2em;
    padding: 0.2em 0.6em;
    border-radius: 0.5em;
    background-color: rgba(219,78,55,0.2);
    color: rgb(219,78,55);
}
.InterestListCardPricePer_down {
    margin-right: 2em;
    padding: 0.2em 0.6em;
    border-radius: 0.5em;
    background-color: rgba(55,78,219,0.2);
    color: rgb(55,78,219);
}
.InterestListCardCoinName{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.InterestListCardCoinName_en{

}
.InterestListCardCoinName_ticker{
    margin-left: 0.5em;
    color: rgba(0,0,0);
    font-size: 11px;
    font-weight: lighter;
}
.InterestListCardCoinPrice{
    font-size: 14px;
}
