input {
  background-color: rgba(255,180,180,0,5);
  box-sizing: border-box;
  border:none;
  height:2em;
  width: 100%;
  flex-shrink: 0;
  border-radius: 0.25em;
  font-size:14px;
  color:rgba(0,0,0,0.8);
  text-align: center;
  transition:0.3s;
  margin-right: 1em;
}
input:focus{
  outline:none;
  background-color: rgba(0,0,0,0.15);
  flex-shrink: inherit;
}
input:focus ~ button{
  opacity: 1;
  display: block;

}
input::placeholder{
  color: rgba(0,0,0,0.3);
  text-align: center;
}
button{
  text-align: right;
  display: none;
  background-color: transparent;
  border:none;
  outline: none;
  font:10px ;
  transition: 0.3s;
  opacity: 0;
  flex-shrink: 0;
}
