@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=Noto+Sans+KR&display=swap');
.bar {
    background-color:rgb(243,242,246);
    color: black;
    width: '100vw';
    height: '10vh';
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.5em;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: bolder;
}
.bar img {
    margin: 0.5em;
}
