.recentInfoList {
    display:flexbox;
    margin: 0.5em;
}
.recentInfoListText {
    display: inline-block;
    font-size: 12px;
    color: rgba(0,0,0,0.5);
    margin:0.4em;
}
.recentListBox {
    background-color:white;
    color:black;
    border-radius: 0.5em;
}